* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Trebuchet MS", sans-serif;
    background-color: #f4f8be;
    color: black;
}
.error {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    font-size: 36px;
}
